@media screen and (max-width: 2300px) {

}

@media screen and (max-width: 1535px) {
    .footer_clients_block {
        width: 42%;
    }
}

@media screen and (max-width: 1440px) {
    .advantages_title {
        column-gap: 14px;
        font-size: 14px;
    }
    .advantages_title b {
        font-size: 60px;
    }
    .advantages_title b p {
        margin: 0;
    }
    .advantages_title span {
        margin: 0;
    }

    .advantages_wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        column-gap: 1vw;
        row-gap: 24px;
    }
    .advantages_block {
        width: 43%;
    }
}

@media screen and (max-width: 1370px) {

}

@media screen and (max-width: 1280px) {
    .banner_wrapper {
        height: 540px;
    }

    .about {
        margin-top: 70px;
    }
    .about_block {
        padding: 18px;
    }

    .clients .clients_wrapper {
        width: 101%;
        left: -0.5%;
        flex-direction: column;
    }
    .clients .clients_wrapper .clients_block {
        margin: 0 8px;
    }
}


@media screen and (max-width: 1178px) {
    .header_wrap {
        column-gap: 50px;
    }
    .menu {
        display: flex;
        column-gap: 24px;
    }

    .about_wrapper {
        flex-wrap: wrap;
        row-gap: 24px;
        column-gap: 1vw;
    }
    .about_block {
        width: 45%;
    }
    .about_block.active {
        width: 45%;
    }

    .footer_wrapper {
        flex-wrap: wrap;
        row-gap: 24px;
    }
    .footer_block {
        width: 50%;
    }
}


@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 991px) {
    .banner_wrapper {
        height: 440px;
    }
    .video_container video {
        width: auto;
        height: 100%;
    }

    .header .mob_btn {
        display: block;
        position: relative;
        width: 30px;
        height: 22px;
        z-index: 1;
    }
    .header .mob_btn span {
        position: absolute;
        display: block;
        width: 30px;
        height: 2px;
        background: #ffffff;
        transition: all .2s linear;
    }

    .header .mob_btn span:nth-child(1) {
        top: 0;
    }

    .header .mob_btn span:nth-child(2) {
        top: calc(50% - 1px);
        opacity: 1;
    }

    .header .mob_btn span:nth-child(3) {
        bottom: 0;
    }

    .header .mob_btn.active span:nth-child(1) {
        transform-origin: top right;
        transform: rotate(-47deg);
        top: 0;
    }

    .header .mob_btn.active span:nth-child(2) {
        opacity: 0;
    }

    .header .mob_btn.active span:nth-child(3) {
        transform-origin: bottom right;
        transform: rotate(45deg);
        bottom: -1px;
    }

    .menu_mob_close {
        position: absolute;
        top: 20px;
        right: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 5px;
        width: 44px;
        height: 44px;
        background: #231F20;
        border-radius: 10px;
        z-index: 8;
    }

    .header .menu_mob_close span {
        display: block;
        width: 16px;
        height: 1px;
        background: #ffffff;
        transition: all 0.2s linear;
    }
    .header .menu_mob_close span:nth-child(1) {
        transform: rotate(45deg) translate(2px, 2px);
    }
    .header .menu_mob_close span:nth-child(2) {
        transform: rotate(-45deg) translate(2px, -2px);
    }

    .header .menu_wrap {
        position: absolute;
        top: -40px;
        left: 0;
        background: rgba(0, 0, 0, 0.47);
        width: 100%;
        height: 100vh;
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s linear;
    }

    .header .menu_wrap.active {
        visibility: visible;
        opacity: 1;
        z-index: 5;
    }

    .header .menu {
        position: absolute;
        top: 60px;
        right: -100%;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 20px 0;
        background: #000000;
        z-index: 10;
        transition: all 0.4s linear;
    }
    .header .menu.active {
        right: 0;
    }

    .header .menu a {
        display: block;
        padding: 10px 0;
        font-size: 18px;
        text-align: center;
        color: #ffffff;
        width: 100%;
    }

    .about_block.active {
        width: 44%;
    }
    .about_block {
        width: 44%;
    }

    .advantages_wrapper {
        width: 102%;
        left: -1%;
    }
    .advantages_block {
        margin: 0 14px;
    }

    .footer_clients {
        max-width: 68%;
    }
}

@media screen and (max-width: 840px) {

}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 14px;
    }

    .banner_title {
        left: 16px;
        bottom: 16px;
        font-size: 20px;
    }

    .section_item {
        font-size: 24px;
    }


    .about_block.active {
        width: 100%;
    }
    .about_block {
        width: 100%;
    }

    .footer_logo {
        width: 100%;
    }
    .footer_clients {
        max-width: initial;
        width: 100%;
    }
}
 
@media screen and (max-width: 600px) {

}

@media screen and (max-width: 587px) {

}

@media screen and (max-width: 440px) {
    .banner_title {
        top: 8vw;
        bottom: initial;
        font-size: 5vw;
    }

    .phone_btn {
        display: none;
    }

    .section_item {
        font-size: 20px;
    }
    .advantages {
        margin-top: 62px;
        padding-bottom: 40px;
    }
    .advantages .advantages_wrapper {
        width: 100%;
        left: 0;
    }
    .advantages .advantages_wrapper .advantages_block {
        margin: 0;
        padding: 18px;
    }
    .advantages_title b {
        font-size: 12vw;
    }
    .advantages_title b p {
        font-size: 5vw;
    }
    .advantages_title {
        font-size: 4vw;
        flex-direction: column;
        align-items: start;
        row-gap: 12px;
    }
    .advantages_title span {
        line-height: 140%;
    }

    .slick-dots {
        margin: 14px 0 0;
        column-gap: 10px;
    }
    .slick-dots li {
        width: 12px;
        height: 12px;
    }

    .footer_menu {
        row-gap: 16px;
    }

    .footer_block {
        width: 100%;
    }
}

@media screen and (max-width: 390px) {

}
@media screen and (max-width: 360px) {

}

@media screen and (max-width: 330px) {

}