body {
  margin: 0 auto;
  padding: 0;
  position: relative;
  font-size: 14px;
  color: #231F20;
  font-family: 'Manrope', sans-serif;
  overflow-x: hidden;
  max-width: 1920px;
  background: #F1F1F1;
}
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  transition: all 0.2s linear;
}
ul li {
  list-style: none;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1680px;
  margin: 0 auto;
  padding: 0 20px;
}

/**************************************************************************************/

.slick-dots {
  margin: 25px 0 0;
  padding: 0;
  display: flex;
  justify-content: center;
  column-gap: 14px;
}

.slick-dots li button {
  display: none;
}
.slick-dots li {
  width: 16px;
  height: 16px;
  border-radius: 50px;
  background: #8A8989;
}
.slick-dots li.slick-active {
  background: #000000;
}

/**************************************************************************************/

.section_item {
  font-family: "EuropeExt", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

/**************************************************************************************/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 8;
  transition: all 0.2s linear;
  background: #000000;
}
.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
}
.header_wrap {
  display: flex;
  align-items: center;
  column-gap: 110px;
}
.menu {
  display: flex;
  column-gap: 40px;
}
.menu a {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}

.mob_btn {
  display: none;
}

/**************************************************************************************/

.btn {
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 0 18px;
  min-height: 36px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  background: #000000;
  color: #ffffff;
  border: 1px solid #000000;
  border-radius: 50px;
  transition: all 0.2s linear;
}
.btn:hover {
  background-color: #ffffff;
  color: #000000;
}

.btn.glass.white {
  border-color: #ffffff;
  background: transparent;
  color: #ffffff;
}
.btn.glass.white:hover {
  background: #ffffff;
  color: #000000;
}

.btn.glass.black {
  border-color: #000000;
  background: transparent;
  color: #000000;
}
.btn.glass.black:hover {
  background: #000000;
  color: #ffffff;
}

/**************************************************************************************/

.banner {
  margin-top: 80px;
}
.banner_wrapper {
  position: relative;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  height: 666px;
}
.video_container {
  width: 100%;
  height: 100%;
}
.video_container video {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: block;
}
.banner_title {
  position: absolute;
  left: 30px;
  bottom: 30px;
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;
  color: #ffffff;
  z-index: 2;
}

#video-thumbnail {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  z-index: 2;
}

.video_controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  display: flex;
  justify-content: right;
  column-gap: 18px;
  align-items: center;
  padding: 30px;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  z-index: 4;
}

.video_controls button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

#play-pause {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  padding: 0;
}
#play-pause span {
  display: block;
  width: 35px;
  height: 35px;
}
#play-pause span.play {
  background: url(../img/play.svg) no-repeat;
  background-size: contain;
}
#play-pause span.pause {
  background: url(../img/pause.svg) no-repeat;
  background-size: contain;
}

#mute {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  padding: 0;
}
#mute span {
  display: block;
  width: 35px;
  height: 35px;
}
#mute span.volume_on {
  background: url(../img/volume_on.svg) no-repeat;
  background-size: contain;
}
#mute span.volume_off {
  background: url(../img/volume_off.svg) no-repeat;
  background-size: contain;
}

   /**************************************************************************************/

.clients {
  margin-top: 20px;
}
.clients .clients_wrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}
.clients .clients_wrapper .clients_block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24%;
  background: #ffffff;
  border-radius: 15px;
  height: 100px;
  transition: all 0.2s linear;
}
.clients .clients_block:hover {
  background: #000000;
}
.clients .clients_block img {
  transition: all 0.2s linear;
}
.clients .clients_block img:nth-child(2) {
  display: none;
}
.clients .clients_block:hover img:nth-child(1) {
  display: none;
}
.clients .clients_block:hover img:nth-child(2) {
  display: block;
}

/**************************************************************************************/

.about {
  margin-top: 100px;
}
.about_wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}
.about_block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 14%;
  height: 240px;
  background: #ffffff;
  padding: 30px;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s linear;
}
.about_block.active {
  width: 50%;
}
.about_block:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(180.11deg, rgba(0, 0, 0, 0) 10.43%, #000000 118.78%);
  z-index: 2;
  opacity: 0;
}
.about_block.active:before {
  opacity: 1;
}
.about_block:after {
  content: '';
  position: absolute;
  right: 30px;
  top: 30px;
  width: 25px;
  height: 25px;
  background: url("../img/about_block_ico.svg") no-repeat;
  z-index: 2;
  transition: all 0.2s linear;
}
.about_block.active:after {
  background: url("../img/about_block_ico_hov.svg") no-repeat;
}
.about_img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.about_img img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  opacity: 0;
  transition: all 0.2s linear;
}
.about_block.active .about_img img {
  opacity: 1;
}

.about_block span {
  position: relative;
  z-index: 2;
}
.about_item {
  width: fit-content;
  padding: 0 20px;
  display: flex;
  align-items: center;
  height: 38px;
  font-size: 16px;
  font-weight: 400;
  color: #8A8989;
  border: 1px solid #8A8989;
  border-radius: 50px;
  transition: all 0.2s linear;
}

.about_block.active .about_item {
  color: #ffffff;
  border-color: #ffffff;
}

.about_title {
  width: fit-content;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  opacity: 0;
  transition: all 0.2s linear;
}

.about_block.active .about_title {
  opacity: 1;
}

/**************************************************************************************/

.advantages {
  margin-top: 100px;
  padding-bottom: 100px;
}
.advantages_wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}
.advantages .advantages_wrapper .advantages_block {
  position: relative;
  height: 206px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 15px;
  padding: 30px;
  overflow: hidden;
  z-index: 2;
}

.advantages_block:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(180.11deg, rgba(0, 0, 0, 0) 10.43%, #000000 118.78%);
  z-index: -1;
}

.advantages_block:nth-child(1):before,
.advantages_block:nth-child(4):before,
.advantages_block:nth-child(5):before,
.advantages_block:nth-child(7):before {
  display: none;
}

.advantages_block:nth-child(1) {
  grid-column: span 3 / span 3;
}
.advantages_block:nth-child(2) {
  grid-column: span 3 / span 3;
  grid-column-start: 4;
}
.advantages_block:nth-child(3) {
  grid-column: span 2 / span 2;
  grid-row-start: 2;
}
.advantages_block:nth-child(4) {
  grid-column: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 2;
}
.advantages_block:nth-child(5) {
  grid-column: span 2 / span 2;
  grid-column-start: 5;
  grid-row-start: 2;
}
.advantages_block:nth-child(6) {
  grid-column: span 3 / span 3;
  grid-row-start: 3;
}
.advantages_block:nth-child(7) {
  grid-column: span 3 / span 3;
  grid-column-start: 4;
  grid-row-start: 3;
}

.advantages_img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -2;
}

.advantages_img img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: 100%;
}

.advantages_item {
  width: fit-content;
  padding: 0 20px;
  display: flex;
  align-items: center;
  height: 38px;
  font-size: 16px;
  font-weight: 400;
  color: #8A8989;
  border: 1px solid #8A8989;
  border-radius: 50px;
  transition: all 0.2s linear;
}

.advantages_title {
  display: flex;
  align-items: end;
  column-gap: 33px;
  font-size: 16px;
  font-weight: 400;
}
.advantages_title b {
  display: flex;
  align-items: end;
  column-gap: 8px;
  font-family: "EuropeExt", sans-serif;
  font-size: 100px;
  font-weight: 700;
  line-height: 74%;
  text-transform: uppercase;
}
.advantages_title b p {
  display: block;
  font-size: 20px;
  line-height: normal;
  margin-bottom: 10px;
}
.advantages_title span {
  display: block;
  margin-bottom: 6px;
}

.advantages_block:nth-child(2) .advantages_item,
.advantages_block:nth-child(3) .advantages_item,
.advantages_block:nth-child(6) .advantages_item {
  color: #ffffff;
  border-color: #ffffff;
}

.advantages_block:nth-child(2) .advantages_title b,
.advantages_block:nth-child(3) .advantages_title b,
.advantages_block:nth-child(6) .advantages_title b {
  color: #ffffff;
}

.advantages_block:nth-child(2) .advantages_title b p,
.advantages_block:nth-child(3) .advantages_title b p,
.advantages_block:nth-child(6) .advantages_title b p {
  color: #ffffff;
}

.advantages_block:nth-child(2) .advantages_title span,
.advantages_block:nth-child(3) .advantages_title span,
.advantages_block:nth-child(6) .advantages_title span {
  color: #ffffff;
}

/**************************************************************************************/

.footer {
  padding-top: 55px;
  padding-bottom: 28px;
  background: #ffffff;
}
.footer_wrapper {
  display: flex;
  justify-content: space-between;
}
.footer_logo {
}
.footer_clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 40px;
  column-gap: 10px;
  width: 100%;
  max-width: 40%;
}
.footer_clients_block {
  width: 24%;
}
.footer_clients_phone {
  margin-top: 20px;
}
.footer_clients_phone a {
  font-size: 14px;
  font-weight: 400;
  color: #8A8989;
}
.footer_clients_mail a {
  font-size: 14px;
  font-weight: 400;
  color: #8A8989;
}

.footer_menu {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.footer_menu a {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.footer_block {
  display: flex;
  flex-direction: column;
}

.footer .mail_btn a {
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 0 20px;
  min-height: 38px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 50px;
}

.footer_addr {
  margin-top: 61px;
  display: flex;
  flex-direction: column;
}
.footer_addr span {
  font-size: 16px;
  font-weight: 400;
  color: #A8A8A7;
}
.footer_addr b {
  display: inline-block;
  margin-top: 18px;
  font-size: 16px;
  font-weight: 400;
}

.footer_wrap {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 14px;
}
.footer_wrap a {
  font-size: 14px;
  font-weight: 400;
  color: #A8A8A7;
}


/* ABOUT *************************************************************************************/

.about_page .banner_wrapper {
  position: relative;
  background: url(../img/about_bg.jpg) 50% 50% no-repeat;
}
.about_page .banner_wrapper:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #00000073;
  z-index: 2;
}

.banner_clients {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 2;
}

.banner_clients_block {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 75px;
  background: #FFFFFF4D;
  border: 1px solid #FFFFFF;
  border-radius: 50px;
  backdrop-filter: blur(10px);
}
.banner_clients_block:before {
  content: '';
  position: absolute;
  width: 6vw;
  max-width: 150px;
  height: 2px;
  background: linear-gradient(70.63deg, #000000 -2.33%, #FFFFFF 47.96%, #292825 100.22%);
}
.banner_clients_block:nth-child(1) {
  top: 4vw;
  left: 50%;
  transform: translateX(-192%);
}
.banner_clients_block:nth-child(1):before {
  transform: translate(108px, 100px) rotate(32deg);
}
.banner_clients_block:nth-child(2) {
  top: 4vw;
  left: 50%;
  transform: translateX(120%);
}
.banner_clients_block:nth-child(2):before {
  transform: translate(-108px, 100px) rotate(-32deg);
}
.banner_clients_block:nth-child(3) {
  top: 50%;
  left: 50%;
  transform: translate(-308%, -50%);
}
.banner_clients_block:nth-child(3):before {
  transform: translate(225px, 0) rotate(0deg);
}
.banner_clients_block:nth-child(4) {
  top: 50%;
  left: 50%;
  transform: translate(208%, -50%);
}
.banner_clients_block:nth-child(4):before {
  transform: translate(-225px, 0) rotate(0deg);
}
.banner_clients_block:nth-child(5) {
  top: 50%;
  left: 50%;
  transform: translate(-192%, 226%);
}
.banner_clients_block:nth-child(5):before {
  transform: translate(84px, -92px) rotate(-42deg);
}
.banner_clients_block:nth-child(6) {
  top: 50%;
  left: 50%;
  transform: translate(116%, 226%);
}
.banner_clients_block:nth-child(6):before {
  transform: translate(-120px, -108px) rotate(42deg);
}
.banner_clients_block:nth-child(7) {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 321px;
  height: 321px;
  border-radius: 50%;
  box-shadow: 0 20px 20px 0 rgb(255 255 255 / 87%) inset;
}
.banner_clients_block:nth-child(7):before {
  display: none;
}

/**************************************************************************************/

.about_offers {
  margin-top: 30px;
  padding-bottom: 95px;
}
.about_offers_wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.section_title {
  max-width: 52%;
  display: flex;
  flex-direction: column;
  row-gap: 26px;
}
.section_title p {
  font-size: 18px;
  font-weight: 400;
  line-height: 156%;
}

/**************************************************************************************/

.history {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #ffffff;
}
.history_wrapper {
  position: relative;
}
.history_wrapper .section_item {
  position: absolute;
  top: 0;
  left: 0;
}

.history_content {
  width: fit-content;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: start;
}
.history_wrap {
  position: relative;
  display: flex;
  column-gap: 62px;
  height: 112px;
  padding-bottom: 52px;
}
.history_wrap:before {
  content: '';
  position: absolute;
  left: 128px;
  top: 18px;
  width: 6px;
  height: 6px;
  background: #8A8989;
  border-radius: 50px;
}
.history_wrap:after {
  content: '';
  position: absolute;
  left: 130px;
  top: 18px;
  width: 1px;
  height: 100%;
  background: #8A8989;
}
.history_wrap:last-child:after {
  display: none;
}
.history_year {
  display: flex;
  align-items: center;
  height: 42px;
  padding: 0 20px;
  font-size: 24px;
  font-weight: 400;
  color: #8A8989;
  border: 1px solid #8A8989;
  border-radius: 50px;
  transition: all 0.2s linear;
}
.history_title {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  max-width: 514px;
}
.history_title b {
  font-size: 18px;
  font-weight: 600;
  color: #8A8989;
  transition: all 0.2s linear;
}
.history_title span {
  font-size: 16px;
  font-weight: 400;
  color: #8A8989;
  transition: all 0.2s linear;
}

.history_wrap:hover .history_year {
  color: #000000;
  border-color: #000000;
}
.history_wrap:hover .history_title b {
  color: #000000;
}
.history_wrap:hover .history_title span {
  color: #000000;
}
.history_wrap:hover:before {
  background: #000000;
}
.history_wrap:hover:after {
  background: linear-gradient(180deg, #8A8989 0%, #000000 49.78%, #8A8989 100%);
}
.history_wrap:hover:after {
  background: linear-gradient(180deg, #8A8989 0%, #000000 49.78%, #8A8989 100%);
}

.history_wrap.show::after {
  background: linear-gradient(180deg, #000000 0%, #000000 14.78%, #8A8989 100%);
}
.history_wrap:has( + .history_wrap.show)::after {
  background: linear-gradient(0deg, #000000 0%, #000000 14.78%, #8A8989 100%);
}

/**************************************************************************************/

.company_page .banner_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  width: -webkit-fill-available;
  z-index: 2;
}
.company_page .banner_wrapper .banner_bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 15px;
  z-index: -1;
}
.company_page .banner_wrapper .banner_bg img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
}
.banner_logo_title {
  font-size: 24px;
  color: #ffffff;
  font-weight: 500;
  line-height: 140%;
}

.banner_info {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}

/**************************************************************************************/

.section1 {
  padding-top: 100px;
}
.section1_wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}
.section1_block {
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #ffffff;
  border-radius: 15px;
}
.section1_content {
  padding: 20px;
  width: 50%;
}
.block_name {
  width: fit-content;
  display: flex;
  align-items: center;
  height: 32px;
  padding: 0 15px;
  font-size: 14px;
  font-weight: 400;
  color: #8A8989;
  border: 1px solid #8A8989;
  border-radius: 50px;
}
.block_name.white {
  border-color: #ffffff;
  color: #ffffff;
}
.section_block_list {
  margin-top: 30px;
}
.section_block_list ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.section_block_list li {
  display: flex;
  column-gap: 20px;
}
.section_block_list li span {
  font-size: 16px;
  font-weight: 400;
  color: #8A8989;
}
.section_block_list li p {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

.section_block_list.white li span {
  color: #ffffff;
}
.section_block_list.white li p {
  color: #ffffff;
}

.section1_block_img {
  width: 52%;
  height: 414px;
  overflow: hidden;
  border-radius: 15px;
}
.section1_block_img img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
}

/**************************************************************************************/

.section2 {
  padding-top: 100px;
}
.section_comment {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 400;
}
.section2_wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}
.section2_block {
  width: 50%;
  padding: 30px;
  background: #ffffff;
  border-radius: 15px;
}
.section2_block .section_block_list {
  max-width: 84%;
}

/**************************************************************************************/

.directions {
  padding-top: 100px;
  padding-bottom: 100px;
}
.directions_wrapper {
  margin-top: 30px;
}
.directions_tabs {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}
.directions_item {
  display: flex;
  align-items: center;
  height: 38px;
  font-size: 16px;
  font-weight: 400;
  padding: 0 20px;
  border: 1px solid #000000;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.2s linear;
}
.directions_item:hover,
.directions_item.active {
  background: #000000;
  border-color: #000000;
  color: #ffffff;
}
.directions_content {
  margin-top: 30px;
}
.directions_block {
  display: none;
}
.directions_block.active {
  display: block;
}
.directions_block_wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 1%;
  row-gap: 20px;
}
.directions_block_item {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 15px;
}
.directions_block_cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.directions_block_title {
  font-size: 16px;
  font-weight: 400;
}
.directions_block_item.w-50 {
  width: 48.2%;
}
.directions_block_item.w-30 {
  width: 31.4%;
}
.directions_block_img {
  width: 50%;
  overflow: hidden;
  border-radius: 15px;
}
.directions_block_img img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
}

/**************************************************************************************/

.supplies {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #ffffff;
}
.supplies_wrapper {
  margin-top: 30px;
}
.supplies_tabs {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  max-width: 70%;
  gap: 20px;
}
.supplies_item {
  width: fit-content;
  display: flex;
  align-items: center;
  height: 38px;
  font-size: 16px;
  font-weight: 400;
  padding: 0 20px;
  border: 1px solid #000000;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.2s linear;
}
.supplies_item:hover,
.supplies_item.active {
  background: #000000;
  border-color: #000000;
  color: #ffffff;
}

.supplies_content {
  margin-top: 50px;
}

.supplies_block {
  display: none;
}
.supplies_block.active {
  display: block;
}

.supplies_block_wrap {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #F5F5F5;
  border-radius: 15px;
}
.supplies_block_cont {
  width: 50%;
  padding: 20px;
}
.supplies_block_title {
  font-size: 24px;
  font-weight: 500;
}

.supplies_block_list {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 5%;
}
.supplies_block_list span {
  display: block;
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  color: #8A8989;
}
.supplies_block_list ul {
  width: 28%;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.supplies_block_list ul li {
  position: relative;
  padding-left: 14px;
  display: flex;
  align-items: center;
}
.supplies_block_list ul li:before {
  content: '';
  position: absolute;
  left: 0;
  width: 4px;
  height: 4px;
  background: #8A8989;
  border-radius: 50px;
}

.supplies_block_imgs {
  width: 50%;
}
.supplies_block_img {
  overflow: hidden;
  border-radius: 15px;
}
.supplies_block_img img {
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
}
.supplies_block_clients {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}
.supplies_block_clients > div {
  width: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 68px;
  background: #ffffff;
  border-radius: 15px;
}

.supplies_block_clients .w-20 {
  width: 18%;
}
.supplies_block_clients .w-25 {
  width: 23%;
}
.supplies_block_clients .w-30 {
  width: 31.6%;
}

/**************************************************************************************/

.key_clients {
  padding-top: 100px;
}
.key_clients_wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}
.key_clients_block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  height: 158px;
  background: #ffffff;
  border-radius: 15px;
}
.key_clients_block img {
  max-width: 100%;
}

/**************************************************************************************/

.manufactur {
  padding-top: 100px;
}
.manufactur_wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}
.manufactur_block {
  width: 20.4%;
  height: 146px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 15px;
}
.manufactur_title {
  font-size: 16px;
  font-weight: 400;
}

/**************************************************************************************/

.training {
  padding-top: 100px;
}
.training_wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}

.training_block {
  padding: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 118px;
  border-radius: 15px;
  overflow: hidden;
  z-index: 2;
}
.training_block:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180.11deg, rgba(0, 0, 0, 0) 10.43%, #000000 118.78%);
  z-index: -1;
}
.training_block.w-100 {
  width: 100%;
}
.training_block.w-50 {
  width: 45.7%;
}
.training_block:nth-child(1) {
  background: url("../img/training/1.jpg") 50% 0 no-repeat;
  background-size: auto 100%;
}
.training_block:nth-child(2) {
  background: url("../img/training/2.jpg") 50% 0 no-repeat;
  background-size: auto 100%;
}
.training_block:nth-child(3) {
  background: url("../img/training/3.jpg") 50% 0 no-repeat;
  background-size: auto 100%;
}

.training .section_block_list {
  max-width: 520px;
}

/**************************************************************************************/

.offers {
  margin-top: 100px;
  margin-bottom: 100px;
}
.offers_wraper {
  width: -webkit-fill-available;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  height: 618px;
  border-radius: 15px;
  overflow: hidden;
  z-index: 2;
}
.offers_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.offers_bg img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
}
.offers_title {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.offers_info {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.offers_addr {
  margin-top: 30px;
}
.offers_addr span {
  font-size: 16px;
  font-weight: 400;
  color: #A8A8A7;
}
.offers_addr p {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}
.offers_comment {
  font-family: "EuropeExt", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
  line-height: 152%;
  text-transform: uppercase;
}